:root {
  --bg-color: #0d1117;
  --text-color: #f0f6fc;
  --track-color: #0d1117;
  --thumb-color: #388bfc;
}

:root[theme='light'] {
  --bg-color: #fff;
  --text-color: #2c3e50;
  --track-color: #fff;
  --thumb-color: rgba(144, 147, 153, 0.3);
}
